body {
    font-family: Arial, sans-serif;
    padding: 10px;
}
.form-header {
    display: flex;
    background-color: #a2cbbc;
    padding:10px;
    align-items: center;
}

.form-header > div {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.form-container {
    border: 1px solid #ccc;
    
}


.form-footer {
    display: flex;
    justify-content: center;
    padding:10px;
    background-color: gray;
}

.form-body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
}

form .form-body > .form-item {
    display: flex;
    flex-direction: column;
    
    font-weight: bold;
    width: 48%;
}

form .form-body > .form-item > div, a {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin:10px;
    
}

form .form-body > .form-item > div > *{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-right: 100px;
}
form .form-body label {
    font-weight: bold;
}

a {
    color:black;
    font-weight: lighter;
}

.checkbox {     
    flex-direction: column;
}

.checkbox > *{  
    width: 100%;
}
.checkbox > label {  
    font-weight: lighter !important;
    width: 100%;
}
input[type="submit"], input[type="reset"] {
    margin:10px;
    background-color: #a2cbbc;
    padding:10px;
    font-weight: bold;
}

.more-actions::after {
    content: "\25bc";
    padding-left: 5px; 
}